@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.highlight {
    color: #61dafb !important;
}

#name-intro {
    animation: 4s glitch 1ms steps(100);
    font-family: "Pixelify Sans", sans-serif !important;
    font-size: calc(100% + 15px) !important;
    text-shadow: 2px 2px #000000, 4px 4px #ffffff;
}

.text-effect:hover {
    animation: glitch 1s steps(100) infinite;
}

#name-title {
    font-family: "Pixelify Sans", sans-serif !important;
    text-shadow: 2px 2px #000000, 4px 4px #ffffff;
}

#name-title:hover {
    animation: glitch 1s steps(100) infinite;
    text-shadow: 4px 4px #ffffff;
}

#intro-background {
    animation: 95s scale 1s infinite;
}


@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes blur {
    0% {
        transform: skew(-50deg) translateY(-200%);
        filter: blur(100);
    }
    20% {
        filter: blur(80);
    }
    40% {
        filter: blur(60);
    }
    60% {
        filter: blur(40);
    }
    80% {
        filter: blur(20);
    }
    100% {
        filter: blur(0);
    }
}


