
  @keyframes col-two-animation {
    0%   { left:-1000px; opacity: 0; }
    50%   { opacity: 0.50; }
    100% { left:0px;  opacity: 1;}
  }



  .col-two-intro{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80% !important;
    max-width: 80% !important;
    position: absolute;
    margin-left: 20%;
    height: 100% !important; 
    max-height: 100% !important; 
    color: white;
  }
  
.intro-content{ 
  /* background-image: url("../img/intro-bg.jpg"); */
  background-color: #687078 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    min-height: 100%;
    text-align: left;
    padding: 0 50px 0;
    font-size: 70px;
    font-weight: 400;
    animation-name: col-two-animation;
    animation-duration: 1s;
    margin: 150px 0;
    padding-top: 50% 10% !important;
    z-index: 0;
  }
  
  p  {
    margin: 10px 0;
    z-index: 13;
    color: #ffffff;
  } 
  
  .intro-content::after {
    content: "";
    background-image: url("../img/intro-bg.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: shrink 40s infinite alternate;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    opacity: 0.9;
  }
  
  @keyframes shrink {
    0% {
     background-size: 100% 100%;
    }
    100% { 
     background-size: 130% 130%;
    }
  }