@keyframes col-two-animation {
    0%   { left:-1000px; opacity: 0; }
    50%   { opacity: 0.50; }
    100% { left:0px;  opacity: 1;}
  }
  
  .col-two-works{
    display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-evenly;
      width: 80% !important;
      max-width: 80% !important;
      background-color: #1b1b1b !important;
      position: absolute;
      margin-left: 20%;
      height: 100% !important;
      color: white;
      z-index: 0;
      top:0;
      margin-bottom: 30px !important;
  }

  .col-two-works-mob{
    height: 1000px !important;
  }

  .works-content{
    position: absolute;
     line-height: 1.5;
     text-align: left;
     padding: 0 50px 0;
     font-size: 30px;
     animation-name: col-two-animation;
     animation-duration: 1s;
     height: auto;
     max-height: 100%;
     width: 100%;
     display: flex;
    align-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
 }

.link{
  font-size: 20px;
  text-decoration: none;
  color: #0a66c2 !important;
}

.web-img{
  width: 100%;
}

.works.highlight{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  border-radius:  0  0 5px 5px;
}

a.works.works.highlight:hover{
  color: #1b1b1b;
  z-index: 5;
}

.first-set, .second-set {
  margin: 10% 5% ;
}

.work{
  margin: 10%;
}

.web-img:hover {
  width: 110%;
}


a.works.highlight{
  /* background-color: white; */
  padding: 10px 0;
}